@font-face {
    font-family: 'bai_jamjureeregular';
    src: url('baijamjuree-regular-webfont.woff2') format('woff2'),
         url('baijamjuree-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}